{% block css-js %}
<style>
    .footer-content {
        margin-bottom: 0px;
    }
</style>
{% endblock %}

<footer>
    <center>
        <div class="footer-content" style="font-size: 1rem;">
            <p class="footer-content">CungNhauHocTap 2022 - 2023</p>
            <p class="footer-content">Created by @hieuhfgr</p>
            <p class="footer-content">Mã nguồn mở: <a href="https://github.com/hieuhfgr/cungnhauhoctap-share" target="_blank">Github</a></p>
            <p class="footer-content" style="padding-bottom: 1em;"><a href="/">Trang Chủ</a> | <a href="/about">Giới Thiệu</a> | <a href="/about/team">Đội Ngũ</a> | <a href="/about/faq">FAQ</a> | <a href="/about/support">Hỗ Trợ</a></p>
        </div>
    </center>
</footer>