{% extends "base.html" %}

{% block title %}Thông Báo{% endblock %}
{% block nav-about-drop %}active{% endblock %}
{% block nav-announcement %}active{% endblock %}

{% block content %}
    <h3>Thông báo được đăng</h3>
    <div class="announcement">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <td style="width: 75%;">Tiêu Đề</td>
                    <td style="width: 15%;">Bởi</td>
                    <td class="text-center" style="width: 10%;">Ngày Đăng</td>
                </tr>
            </thead>
            <tbody>
                {% for announcement in announcements %} 
                    <tr>
                        <td><a href="{{announcement.id}}">{{announcement.title|capfirst}}</a></td>
                        <td><a href="/profile/detail/{{announcement.author}}">{{announcement.author}}</a></td>
                        <td class="text-center">{{announcement.date|date:"d/m/Y"}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <h6>
                {% if announcements.has_previous %} 
                    <a href="?page={{announcements.previous_page_number }}">Trang Trước</a>
                {% endif %}
                {% if announcements.has_previous and announcements.has_next %} - {% endif %}
                {% if announcements.has_next %} 
                    <a href="?page={{announcements.next_page_number}}">Trang Tiếp Theo</a>
                {% endif %}
            </h6>
        </div>
    </div>
{% endblock %}