{% extends "base.html" %}

{% block title %}Tìm Kiếm Hồ Sơ{% endblock %}
{% block nav-profile-drop %}active{% endblock %}
{% block nav-search-user %}active{% endblock %}

{% load static %}

{% block content %}
<!-- Search Form -->
<h3>Tìm kiếm</h3>
<div class="ml-4">
    <form class="form-inline mb-3" method="get">
        <input required name="username" class="form-control mr-sm-2" type="search" placeholder="Username Người Dùng" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm Kiếm</button>
    </form>
    <p>(Lưu ý nhỏ là Username không có chứa dấu cách " " và chỉ chứa các từ trong bảng chữ cái tiếng Anh)</p>
    {% if is_searching == True %}    
        <a href="/profile/search">Quay lại tìm kiếm</a> 
    {% endif %}
</div>

<!-- Display list -->
{% if is_searching == True %} 
    <h3>Danh sách tìm thấy</h3>
    <div style="overflow-y:auto; height:23em">
        <table class="table table-sm table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <td style="width: 5%">#</td>
                    <td style="width: 95%">username</td>
                </tr>
            </thead>
            <tbody>
                {% for user in usersFound %} 
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>
                        <a href="/profile/detail/{{user.username}}">{{ user.username }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}