{% extends "base1.html" %}

{% block title %}Viết Bài{% endblock %}
{% block nav-hoctap-post-create %}active{% endblock %}
{% block nav-hoctap-drop %}active{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <h3>Viết bài</h3>
    {% if is_success == True %} 
        <h6>Bài viết của bạn đang chờ phê duyệt</h6>
    {% else %}
    <form action="" method="post"> 
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-success">Đăng Bài Viết</button>
    </form>
    {% endif %}
    
{% endblock %}