{% extends "base1.html" %}

{% block title %}Nội Dung Học Tập{% endblock %}
{% block nav-hoctap-other-drop %}active{% endblock %}
{% block nav-hoctap-todo %}active{% endblock %}

{% block css-js %}
<style>
    .li-detail {
        font-size: larger;
    }
    .custom-form {
        font-size: smaller;
    }
</style>
{% endblock %}

{% block content %}
    <h3>Nội Dung Học Tập: {{task.title}}</h3>
    {% if task.is_finished == False %}
    <form action="." method="post">
        {% csrf_token %}
        <button class="btn btn-sm btn-success" type="submit" name="is_finished" value="true">Xác nhận hoàn thành</button>
    </form>
    {% endif %}
    <ul>
        <li class="li-detail">Nội dung: {{task.detail}}</li>
        <li class="li-detail">Đã hoàn thành: {% if task.is_finished == True %}YES{% else %}NO{% endif %}</li>
    </ul> 
    <h5>Chỉnh sửa</h5>
            <div class="ml-3">
                {% if task.is_finished == True %}
                <form action="." method="post" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" name="is_finished" value="false">Chưa Hoàn Thành</button>
                </form>
                {% else %}
                <form action="." method="post" class=custom-form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Tên nội dung: </label>
                        <input type="text" name="taskTitle" value="{{task.title}}" id="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="detail">Mô tả: </label>
                        <input type="text" name="taskDetail" value="{{task.detail}}" id="detail" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </form>
                {% endif %}
            </div>
        
    
{% endblock %}